	<!-- About Section -->
	<section id="meettheteam" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Meet the Team</h2>
				<p>We are two brothers and a cousin in Montreal. <br />
				We plan to make automated anesthesia a reality in Canada.</p>
			</div>

		    <div class="col-sm-3 col-lg-offset-1">
			    <img src="img/samuel.jpg">
			</div>
			<div class="col-sm-3">
			    <img src="img/philippe.jpg">
			</div>
			<div class="col-sm-3">
			    <img src="img/pascal.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-offset-1">
				<h3>Samuel Laferriere </h3>
			</div>

			<div class="col-sm-3">
				<h3>Philippe Laferriere </h3>
			</div>

			<div class="col-sm-3">
				<h3>Pascal Laferriere-Langlois </h3>
			</div>	
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-offset-1">
				<p> M.Sc. in Machine Learning for Neuroscience at Mila </p> </br>
			</div>

			<div class="col-sm-3">
				<p> M.Sc. in Machine Learning for Robotics at Mila </p>
			</div>

			<div class="col-sm-3">
				<p> M.D. anesthesiologist at Maisonneuve-Rosemont Hospital (HMR) </p>
			</div>	
		</div>

	</section>